@inject IConfiguration Configuration

<a href="@Url"
   target="_blank"
   rel="noopener noreferrer">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="@Width"
         height="@Height"
         fill="currentColor"
         class="@Class"
         viewBox="0 0 16 16"
         role="img"
         aria-label="@AriaLabel">
        <path d="@SvgPath" />
    </svg>
</a>

@code {
    [Parameter] public string Width { get; set; } = "16";
    [Parameter] public string Height { get; set; } = "16";
    [Parameter] public string Class { get; set; } = string.Empty;
    [Parameter] public string AriaLabel { get; set; } = string.Empty;
    [Parameter] public string SvgPath { get; set; } = string.Empty;
    [Parameter] public string UrlKey { get; set; } = string.Empty;

    private string? Url => Configuration[UrlKey];
}